{% extends './base.html.twig' %}

{% block page_title %}TimePills | Crédits{% endblock %}

{% block cssSupplementaire %}<link rel="stylesheet" type="text/css" href="{{ asset('css/credits.css') }}">{% endblock %}

{% block page_content %}
    <div class="onglet1">
        <h1>Crédits</h1>
    </div>

    <h1>Projet personnel web : <span class="redText">TimePills</span></h1>
    <h2 class="light">Thomas LOYE - 2024</h2>
    <h3 class="light">L'outil de suivi pour les médicaments du quotidien.</h3>
    <br>
    <h2 class="redText">Crédits photos :</h2>
    <h3 class="light">Toutes les illustrations proviennent de Flaticon, Freepik et Storyset.</h3>

    <ul class="creditList">
        <li><a href="https://www.flaticon.com/fr/icones-gratuites/poubelle" title="poubelle icônes">Poubelle icônes créées par Catalin Fertu - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/fr/icones-gratuites/modifier" title="modifier icônes">Modifier icônes créées par Freepik - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/fr/icones-gratuites/mot-de-passe" title="mot de passe icônes">Mot de passe icônes créées par Prosymbols Premium - Flaticon</a></li>
        <li><a href="https://storyset.com/people">People illustrations by Storyset</a></li>
        <li><a href="https://www.flaticon.com/fr/icones-gratuites/notification" title="notification icônes">Notification icônes créées par Freepik - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/fr/icones-gratuites/calendrier" title="calendrier icônes">Calendrier icônes créées par Freepik - Flaticon</a></li>
        <li><a href="https://www.flaticon.com/fr/icones-gratuites/pilules" title="pilules icônes">Pilules icônes créées par Freepik - Flaticon</a></li>
    </ul>
{% endblock %}
