.wrapTop {
    margin-bottom: 20px;
    img {
        width: 200px;
    }
}

body {
    padding-bottom: 50px;
}

/**
------------------------------------------ BOUTONS CALENDRIER ----------------------------------------------------------
 */

.fc .fc-button {
    background-color: #FF5959;
    border: 1px solid transparent;
    transition: 0.5s ease-in-out;
}

.fc .fc-button:hover {
    background-color: transparent;
    border: 1px solid #FF5959;
    color: #FF5959;
}

.fc .fc-button.fc-today-button {
    background-color: #FF5959;
    border: 1px solid transparent;
    transition: 0.5s ease-in-out;
}

.fc .fc-button.fc-today-button:hover {
    background-color: transparent;
    border: 1px solid #FF5959;
    color: #FF5959;
}

.fc-event-wrap {
    white-space: normal;
    word-wrap: break-word;
}

.fc-toolbar-chunk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px;
}


/**
------------------------------------------------- WRAP -----------------------------------------------------------------
 */

.wrapMedocs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;

    #calendar {
        width: 52%;
        height: auto;
        min-height: auto;
        max-height: none;
        overflow: hidden;
    }

    .fc-col-header {
        background-color: #f0f1ec;
        color: black;
    }

    .fc-view-harness, .fc-view-harness-active {
        height: auto!important;
        min-height: 500px;
    }

    .medicaments {
        width: 540px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        a.medicament {
            border: 1px solid transparent;
        }

        a.medicament:hover {
            border: 1px solid #FF5959;
        }

        .medicament {
            width: 100%;
            min-height: 100px;
            border-radius: 10px;
            background-color: #e6e6e6;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            margin-bottom: 15px;
            color: black;
            text-decoration: none;
            padding: 5px;

            img {
                width: 50px;
                padding: 10px;
            }

            div:not(.bouton) {
                height: 100%!important;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                align-content: flex-start;
                padding-left: 15px;
                padding-right: 25px;

                br {
                    line-height: 0.5;
                }

                * {
                    margin: 0;
                    padding: 0;
                }

                .bouton {
                    margin-right: 10px;
                    width: 150px;
                    height: 30px;
                }

                .check {
                    width: 150px;
                    height: 30px;
                    background-color: #3c763d;
                    color: white;
                    border-radius: 5px;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                }
            }

            div:first-child:not(.bouton, .check) {
                width: 150px;
            }

            div:last-child:not(.bouton, .check) {
                padding-left: 30px;
            }
        }

    }

}


.dark {
    .medicament {
        background-color: #232323!important;
        color: white!important;
    }

    .fc-col-header {
        background-color: #232323;
        color: white;
    }
}


/**
------------------------------------------------- RESPONSIVE -----------------------------------------------------------
 */

@media (max-width: 1100px) {
    .wrapMedocs {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 95%;
        margin: auto;

        #calendar {
            width: 95%;
            padding-bottom: 50px;
        }

        .medicaments {
            width: 95%;

            .medicament {
                width: 60%;
            }
        }
    }
}

@media (max-width: 930px) {
    .wrapMedocs {
        #calendar {
            width: 98%;
        }

        .medicaments {
            width: 98%;

            .medicament {
                width: 100%;
            }
        }
    }
}

@media (max-width: 700px) {
    .fc-toolbar-title {
        font-size: 1.2em!important;
        color: var(--rouge)!important;
    }

    .fc-event-title {
        font-size: 0.8em!important;
    }

    .medicament {
        h3 {
            font-size: 1em;
        }

        h4 {
            font-size: 0.8em;
        }
    }
}