{% extends 'base.html.twig' %}

{% block page_title %}
    TimePills | Accueil
{% endblock %}

{% block cssSupplementaire %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/accueil.css') }}">{% endblock %}

{% block page_content %}
    <h1 class="onglet1">Accueil</h1>
    <p>Bienvenue sur le site TimePills</p>
{% endblock %}